<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bossChannelId" value="908741098816540672"/>
    <add key="rareChannelId" value="908741098816540672"/>
    <add key="heroChannelId" value="908741098816540672"/>
    <add key="acientChannelId" value="908741098816540672"/>
  </appSettings>
</configuration>