<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bossChannelId" value="1044926315586920499"/>
    <add key="rareChannelId" value="1044924809156493394"/>
    <add key="heroChannelId" value="1108767945292791860"/>
    <add key="acientChannelId" value="1133779549247783023"/>
    <add key="rareExpireMin" value="90"/>
    <add key="heroExpireMin" value="180"/>
    <add key="AcientExpireMin" value="300"/>
  </appSettings>
</configuration>