<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rareChannelId" value="908741098816540672"/>
    <add key="heroChannelId" value="908741098816540672"/>
    <add key="acientChannelId" value="908741098816540672"/>
    <add key="bidRareChannelId" value="908741098816540672"/>
    <add key="bidHeroChannelId" value="908741098816540672"/>
    <add key="bidAcientChannelId" value="908741098816540672"/>
    <add key="FailedBidUserId" value="958950313866428497"/>
    <add key="rareExpireMin" value="90"/>
    <add key="heroExpireMin" value="180"/>
    <add key="AcientExpireMin" value="300"/>
    <add key="FailedBidPercent" value="80"/>
    <add key="diceChannelId" value="908741098816540672"/>
  </appSettings>
</configuration>