<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rareChannelId" value="1044924809156493394"/>
    <add key="heroChannelId" value="1108767945292791860"/>
    <add key="acientChannelId" value="1133779549247783023"/>
    <add key="bidRareChannelId" value="1108455015904968848"/>
    <add key="bidHeroChannelId" value="1109120092173770866"/>
    <add key="bidAcientChannelId" value="1133785998661275658"/>
    <add key="FailedBidUserId" value="818050046494769183"/>
    <add key="rareExpireMin" value="90"/>
    <add key="heroExpireMin" value="180"/>
    <add key="AcientExpireMin" value="300"/>
    <add key="FailedBidPercent" value="80"/>
    <add key="diceChannelId" value="1165493702395961424"/>
  </appSettings>
</configuration>